<a href="https://colab.research.google.com/github/deez79/GA_Python_FinalProject/blob/master/nhl_player_stats_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NHL Players from 1940 to 2018

* Link to Dataset:
https://www.kaggle.com/ace184/nhl-skater-stats

## Initial Setup:

### Mount Google Drive to Colab

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

### Libraries:

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Dataset imported:

In [0]:
data_excel = "/content/drive/My Drive/DATAFILES/skater_stats.xlsx"
players = pd.read_excel(data_excel)

In [4]:
# Quick look at the data:
players.head()

                     Key  Season             Player  ...  FOwin FOloss   FO%
0  2018Justin Abdelkader    2018  Justin Abdelkader  ...   47.0   50.0  48.5
1       2018Pontus Aberg    2018       Pontus Aberg  ...    4.0    8.0  33.3
2       2018Noel Acciari    2018       Noel Acciari  ...   42.0   51.0  45.2
3     2018Kenny Agostino    2018     Kenny Agostino  ...    0.0    1.0   0.0
4      2018Sebastian Aho    2018      Sebastian Aho  ...   78.0   94.0  45.3

[5 rows x 29 columns]

## Initial Data Inspection:

### Genral Info:

In [0]:
# print(players.shape)
# print("-----------------------------------------------------")
# print(players.info())
# print("-----------------------------------------------------")
# print(players.describe())
# print("-----------------------------------------------------")
# print(players.dtypes)

* How big is the data?

In [6]:
rows, columns = players.shape

print(f'There are {rows} rows and {columns} columns')

There are 37825 rows and 29 columns

* What are the columns and what kind of data do they store?

In [7]:
print(players.dtypes)

Key        object
Season      int64
Player     object
Age       float64
Tm         object
Pos        object
GP          int64
G          object
GPG       float64
A          object
PTS        object
+/-        object
PIM        object
EVG        object
PPG        object
SHG        object
GWG        object
EVA        object
PPA        object
SHA        object
S          object
S%         object
TOI       float64
ATOI       object
BLK       float64
HIT       float64
FOwin     float64
FOloss    float64
FO%       float64
dtype: object

### Columns Explained:

* Let's define what each of the columns means:

| Abrv | Description   |
|------|---------------|
| Key  | Unique Key. Combination of Player and Season|
| Player | Player Name |
| Age  | Player Age |
| Tm | Player Team |
| Pos | Player Position |
| GP | Player Games Played |
| G | Player Goals Scored |
| GPG | Goals Per Game |
| A | Player Assists |
| PTS | Points. The Sum of Goals and Assists |
| +/- | Plus or Minus |
| PIM | Penalty Infraction Minutes |
| EVG | Even Strenght Goals |
| PPG | Power Play Goals |
| SHG | Short Handed Goals |
| GWG | Game Wining Goals |
| EVA | Even Strenght Assists |
| PPA | Power Play Assists |
| SHA | Short Handed Assists |
| S | Shots on Goal |
| S% | Shooting Percentage. Goals divided by Shots on Goal |
| TOI | Time on Ice |
| ATOI | Average Time on Ice |
| BLK | Blocks |
| HIT | Hits  |
| FOWin | Face Off Wins |
| FOLoss | Face Off Loss |
| FO% | Face Off Percentage | 

* links:
  * https://www.liveabout.com/nhl-stats-explained-2778914
  * https://www.answers.com/Q/What_does_evg_stand_for_in_hockey
  * https://www.tsn.ca/nhl/statistics

In [0]:
# players.head(20)

## Clean the Data:

### Change Column Types to int64 or Float64

* How to make all the columns floats or ints as needed?

In [0]:
# players = players.fillna(value={'GP': 0, "G": 0, "A": 0, "+/-": 0, "PIM": 0, "EVG": 0, "PPG": 0, "SHG":0, "GWG": 0, "EVA": 0, "PPA": 0, "SHA":0, "S": 0, "S%":0, "TOI":0, "ATOI": 0, "BLK":0, "HIT":0, "FOwin":0, "FOloss": 0, "FO%": 0})

In [0]:
# players.astype({'G': 'float64'}).dtypes

In [0]:
# players[["player"] == 'Justin Abdelkader', "GWG" ].count()

In [0]:
# def strip_G_spaces(col):
#   print(col.index[0])
#   g = col['G']

#   if type(g) == int:
#     return g

#   if type(g) == str:
#     g = g.strip()
#     try:
#       g_int = int(g)
#       if pd.isnan(g_int):
#         return 0
#       return g_int
#     except:
#       return 0

# def testf(n):
#   print('called')
#   print(n, n.name)


# players['sanitized_G'] = players[['G', 'EVG']].head(3).apply(testf, axis=0)

# players.head(3)

In [12]:
### --- A function to change dashes with zeros --- ###

def replace_dash(col):
  c = col.values[0]

  if type(c) == int:
    return c 
  
  if type(c) == str:
    c = c.strip()
    try:
      c_int = int(c)
      if pd.isnan(c_int):
        return 0
      return c_int
    except:
      return 0
  else:
    return c

### --- A list of Columns to Fix --- ###
cols_to_fix = ['GP', 'G', 'GPG', 'A', 'PTS', '+/-', 'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S%', 'TOI', 'ATOI', 'BLK', 'HIT', 'FOwin', 'FOloss', 'FO%' ]

### ---  A loop to run the function on each cell in the columns we need to fix --- ###
for col_var in cols_to_fix:
  # print(col_var)
  # players_sanitized[col_var] = players[[col_var]].head(10).apply(replace_dash, axis=1)
  players[col_var] = players[[col_var]].apply(replace_dash, axis=1)

### --- lets look at the data --- ###
players.head()

                     Key  Season             Player  ...  FOwin FOloss   FO%
0  2018Justin Abdelkader    2018  Justin Abdelkader  ...   47.0   50.0  48.5
1       2018Pontus Aberg    2018       Pontus Aberg  ...    4.0    8.0  33.3
2       2018Noel Acciari    2018       Noel Acciari  ...   42.0   51.0  45.2
3     2018Kenny Agostino    2018     Kenny Agostino  ...    0.0    1.0   0.0
4      2018Sebastian Aho    2018      Sebastian Aho  ...   78.0   94.0  45.3

[5 rows x 29 columns]

In [0]:
### ---  Replace NA's with 0's --- ###
players = players.fillna(0)

In [14]:
players.tail(10)

                        Key  Season            Player  ...  FOwin FOloss  FO%
37815        1940Toe Blake*    1940        Toe Blake*  ...    0.0    0.0  0.0
37816  1940Murray Armstrong    1940  Murray Armstrong  ...    0.0    0.0  0.0
37817         1940Syd Howe*    1940         Syd Howe*  ...    0.0    0.0  0.0
37818    1940Neil Colville*    1940    Neil Colville*  ...    0.0    0.0  0.0
37819    1940Bryan Hextall*    1940    Bryan Hextall*  ...    0.0    0.0  0.0
37820   1940Gordie Drillon*    1940   Gordie Drillon*  ...    0.0    0.0  0.0
37821      1940Bill Cowley*    1940      Bill Cowley*  ...    0.0    0.0  0.0
37822     1940Woody Dumart*    1940     Woody Dumart*  ...    0.0    0.0  0.0
37823      1940Bobby Bauer*    1940      Bobby Bauer*  ...    0.0    0.0  0.0
37824     1940Milt Schmidt*    1940     Milt Schmidt*  ...    0.0    0.0  0.0

[10 rows x 29 columns]

### Data Slices:

#### How many Teams are there?

In [15]:
# print(players.groupby('Tm').count()['Player'])
# print(players.groupby('Tm').max()['G'])
print(players['Tm'].unique())
print(players['Tm'].nunique())

[' DET ' ' TOT ' ' BOS ' ' CAR ' ' NYI ' ' MTL ' ' LAK ' ' CBJ ' ' NYR '
 ' CGY ' ' COL ' ' CHI ' ' BUF ' ' VAN ' ' WPG ' ' NSH ' ' PIT ' ' EDM '
 ' WSH ' ' FLA ' ' STL ' ' ANA ' ' VEG ' ' MIN ' ' DAL ' ' OTT ' ' SJS '
 ' TOR ' ' TBL ' ' NJD ' ' ARI ' ' PHI ' ' PHX ' ' ATL ' ' MDA ' ' HAR '
 ' WIN ' ' QUE ' ' MNS ' ' CBH ' ' CLR ' ' ATF ' ' CLE ' ' CGS ' ' KCS '
 ' OAK ' ' BRO ' ' NYA ']
48

#### Who has the most Goals per Team?

In [16]:
team = "NYR"
# players[ players['Tm'] == team ].sort_values(by="GP", ascending=False).head(5)
# players[ players['Tm'] == team ].sort_values(by="G", ascending=False)
# players[ players['Tm'] == team ]
# players[['Tm', 'G']].sort_values(by='G').head()

players[['Player', 'Tm','Season', 'GP']].sort_values(by = 'GP', ascending=False).head(10)

                Player     Tm  Season  GP
21105     Jimmy Carson   TOT     1993  86
20403     Bob Kudelski   TOT     1994  86
20262        Mark Lamb   TOT     1994  85
14961      Bill Guerin   TOT     2001  85
12997       Rem Murray   TOT     2003  85
20296  Glenn Anderson*   TOT     1994  85
20088       Joe Reekie   TOT     1994  85
20027    Mark Janssens   HAR     1994  84
21096     Steve Larmer   CHI     1993  84
20049     Craig Ludwig   DAL     1994  84

## Answer the following questions:

### Which Goalie scored the most goals?

### What age do players score the most goals?

### Which Ranger has the highest Pts?

## Graph the following:

### Teams with the most points

### Goals per year for most goals scored player