<a href="https://colab.research.google.com/github/deez79/GA_Python_FinalProject/blob/master/nhl_player_stats_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NHL Players from 1940 to 2018

* Link to Dataset:
https://www.kaggle.com/ace184/nhl-skater-stats

## Initial Setup:

### Mount Google Drive to Colab

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Libraries:

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Dataset imported:

In [0]:
###--- Data import failures ---###

# data_file = "/content/drive/My Drive/DATAFILES/skater_stats.csv"
# data2 = "/content/drive/My Drive/DATAFILES/skater_stats-last_40_years.csv"

# with open(path, encoding="utf8", errors='ignore') as f:
#   players = f.read()

# players = pd.read_csv(data_file)
# players = pd.read_csv(data2)

In [0]:
data_excel = "/content/drive/My Drive/DATAFILES/skater_stats.xlsx"
players = pd.read_excel(data_excel)

players.head()

                     Key  Season             Player  ...  FOwin FOloss   FO%
0  2018Justin Abdelkader    2018  Justin Abdelkader  ...   47.0   50.0  48.5
1       2018Pontus Aberg    2018       Pontus Aberg  ...    4.0    8.0  33.3
2       2018Noel Acciari    2018       Noel Acciari  ...   42.0   51.0  45.2
3     2018Kenny Agostino    2018     Kenny Agostino  ...    0.0    1.0   0.0
4      2018Sebastian Aho    2018      Sebastian Aho  ...   78.0   94.0  45.3

[5 rows x 29 columns]

## Initial Data Inspection:

### Genral Info:

In [0]:
print(players.shape)
print("-----------------------------------------------------")
print(players.info())
print("-----------------------------------------------------")
print(players.describe())
print("-----------------------------------------------------")
print(players.dtypes)

(37825, 29)
-----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37825 entries, 0 to 37824
Data columns (total 29 columns):
Key       37825 non-null object
Season    37825 non-null int64
Player    37825 non-null object
Age       37823 non-null float64
Tm        37825 non-null object
Pos       37825 non-null object
GP        37825 non-null int64
G         37825 non-null object
GPG       37825 non-null float64
A         37825 non-null object
PTS       37825 non-null object
+/-       33913 non-null object
PIM       37824 non-null object
EVG       34537 non-null object
PPG       34537 non-null object
SHG       34537 non-null object
GWG       34537 non-null object
EVA       33913 non-null object
PPA       33913 non-null object
SHA       33913 non-null object
S         33911 non-null object
S%        32723 non-null object
TOI       16625 non-null float64
ATOI      16625 non-null object
BLK       9674 non-null float64
HIT       9684 non-null float64
FOwin     9674 non-null float64
FOloss    9674 non-null float64
FO%       6149 non-null float64
dtypes: float64(8), int64(2), object(19)
memory usage: 8.4+ MB
None
-----------------------------------------------------
             Season           Age  ...       FOloss          FO%
count  37825.000000  37823.000000  ...  9674.000000  6149.000000
mean    1992.426543     26.056156  ...    79.383399    42.249943
std       18.661295      4.343120  ...   167.921920    21.405936
min     1940.000000     17.000000  ...     0.000000     0.000000
25%     1981.000000     23.000000  ...     0.000000    33.300000
50%     1996.000000     25.000000  ...     3.000000    45.900000
75%     2008.000000     29.000000  ...    42.000000    51.700000
max     2018.000000     51.000000  ...   941.000000   100.000000

[8 rows x 10 columns]
-----------------------------------------------------
Key        object
Season      int64
Player     object
Age       float64
Tm         object
Pos        object
GP          int64
G          object
GPG       float64
A          object
PTS        object
+/-        object
PIM        object
EVG        object
PPG        object
SHG        object
GWG        object
EVA        object
PPA        object
SHA        object
S          object
S%         object
TOI       float64
ATOI       object
BLK       float64
HIT       float64
FOwin     float64
FOloss    float64
FO%       float64
dtype: object

### Columns Explained:


| Abrv | Description   |
|------|---------------|
| Key  | Unique Key. Combination of Player and Season|
| Player | Player Name |
| Age  | Player Age |
| Tm | Player Team |
| Pos | Player Position |
| GP | Player Games Played |
| G | Player Goals Scored |
| GPG | Goals Per Game |
| A | Player Assists |
| PTS | Points. The Sum of Goals and Assists |
| +/- | Plus or Minus |
| PIM | Penalty Infraction Minutes |
| EVG | Even Strenght Goals |
| PPG | Power Play Goals |
| SHG | Short Handed Goals |
| GWG | Game Wining Goals |
| EVA | Even Strenght Assists |
| PPA | Power Play Assists |
| SHA | Short Handed Assists |
| S | Shots on Goal |
| S% | Shooting Percentage. Goals divided by Shots on Goal |
| TOI | Time on Ice |
| ATOI | Average Time on Ice |
| BLK | Blocks |
| HIT | Hits  |
| FOWin | Face Off Wins |
| FOLoss | Face Off Loss |
| FO% | Face Off Percentage | 

* links:
  * https://www.liveabout.com/nhl-stats-explained-2778914
  * https://www.answers.com/Q/What_does_evg_stand_for_in_hockey
  * https://www.tsn.ca/nhl/statistics

In [0]:
players.head(20)

                      Key  Season             Player  ...  FOwin FOloss   FO%
0   2018Justin Abdelkader    2018  Justin Abdelkader  ...   47.0   50.0  48.5
1        2018Pontus Aberg    2018       Pontus Aberg  ...    4.0    8.0  33.3
2        2018Noel Acciari    2018       Noel Acciari  ...   42.0   51.0  45.2
3      2018Kenny Agostino    2018     Kenny Agostino  ...    0.0    1.0   0.0
4       2018Sebastian Aho    2018      Sebastian Aho  ...   78.0   94.0  45.3
5       2018Sebastian Aho    2018      Sebastian Aho  ...    0.0    1.0   0.0
6            2018Mark Alt    2018           Mark Alt  ...    0.0    0.0   0.0
7         2018Karl Alzner    2018        Karl Alzner  ...    0.0    0.0   0.0
8      2018Michael Amadio    2018     Michael Amadio  ...   74.0   96.0  43.5
9       2018Josh Anderson    2018      Josh Anderson  ...   26.0   36.0  41.9
10     2018Lias Andersson    2018     Lias Andersson  ...   19.0   28.0  40.4
11   2018Rasmus Andersson    2018   Rasmus Andersson  ...    0.0    0.0   0.0
12      2018Andy Andreoff    2018      Andy Andreoff  ...   24.0   29.0  45.3
13   2018Sven Andrighetto    2018   Sven Andrighetto  ...    7.0   15.0  31.8
14     2018Artem Anisimov    2018     Artem Anisimov  ...  416.0  494.0  45.7
15     2018Victor Antipin    2018     Victor Antipin  ...    0.0    0.0   0.0
16   2018Darren Archibald    2018   Darren Archibald  ...    0.0    1.0   0.0
17     2018Josh Archibald    2018     Josh Archibald  ...   25.0   40.0  38.5
18         2018Joel Armia    2018         Joel Armia  ...    7.0    8.0  46.7
19   2018Viktor Arvidsson    2018   Viktor Arvidsson  ...   11.0   22.0  33.3

[20 rows x 29 columns]

## Basic Questions:

### Change Column Types to int64 or Float64

* How to make all the columns floats or ints as needed?**bold text**

In [213]:
players.dtypes

Key             object
Season           int64
Player          object
Age            float64
Tm              object
Pos             object
GP               int64
G               object
GPG            float64
A               object
PTS             object
+/-             object
PIM             object
EVG             object
PPG             object
SHG             object
GWG             object
EVA             object
PPA             object
SHA             object
S               object
S%              object
TOI            float64
ATOI            object
BLK            float64
HIT            float64
FOwin          float64
FOloss         float64
FO%            float64
sanitized_G     object
dtype: object

In [0]:
players = players.fillna(value={'GP': 0, "G": 0, "A": 0, "+/-": 0, "PIM": 0, "EVG": 0, "PPG": 0, "SHG":0, "GWG": 0, "EVA": 0, "PPA": 0, "SHA":0, "S": 0, "S%":0, "TOI":0, "ATOI": 0, "BLK":0, "HIT":0, "FOwin":0, "FOloss": 0, "FO%": 0})

In [0]:
# players.astype({'G': 'float64'}).dtypes

In [0]:
# players[["player"] == 'Justin Abdelkader', "GWG" ].count()

In [216]:
def strip_G_spaces(col):
  print(col.index[0])
  g = col['G']

  if type(g) == int:
    return g

  if type(g) == str:
    g = g.strip()
    try:
      g_int = int(g)
      if pd.isnan(g_int):
        return 0
      return g_int
    except:
      return 0

def testf(n):
  print('called')
  print(n, n.name)


players['sanitized_G'] = players[['G', 'EVG']].head(3).apply(testf, axis=0)

players.head(3)

called
0    13
1     4
2    10
Name: G, dtype: object G
called
0    9
1    4
2    9
Name: EVG, dtype: object EVG

                     Key  Season             Player  ...  FOloss   FO% sanitized_G
0  2018Justin Abdelkader    2018  Justin Abdelkader  ...    50.0  48.5         NaN
1       2018Pontus Aberg    2018       Pontus Aberg  ...     8.0  33.3         NaN
2       2018Noel Acciari    2018       Noel Acciari  ...    51.0  45.2         NaN

[3 rows x 30 columns]

In [226]:
def strip_G_spaces(col):
  print(col.index[0])
  g = col['G']

  if type(g) == int:
    return g

  if type(g) == str:
    g = g.strip()
    try:
      g_int = int(g)
      if pd.isnan(g_int):
        return 0
      return g_int
    except:
      return 0

def testf(n):
  print('called')
  print(n, n.name)


players['Sanitized_G'] = players[['G']].head(4).apply(strip_G_spaces, axis=1)

players.head(4)

G
G
G
G

                     Key  Season  ... sanatized_G  Sanitized_G
0  2018Justin Abdelkader    2018  ...        13.0         None
1       2018Pontus Aberg    2018  ...         4.0         None
2       2018Noel Acciari    2018  ...        10.0         None
3     2018Kenny Agostino    2018  ...         NaN         None

[4 rows x 32 columns]

In [0]:
def clean_col_to_int(col): 
  # print(col.index[0])
  # print(col.index)
  # print(type(col))
  # print(col.index)
  # g = col.name
  # print(g)
  # print(col, col.name, col.values)
  # print(col.values)
  # print(type(col.values))
  c = col.values 
  if type(c) == int:
    return c
  if type(c) == str:
    c = c.strip()
    try:
      c_int = int(c)
      if pd.isnan(c_int):
        return 0
      return c_int
    except:
      return 0
    


###  Make a list of columns to fix ###
# sanatized_columns = ['G','EVG']

### Copy the players dataset and work on it as sanatized dataset ###
sanitized_players = players.copy()

### Attempt to use list of columns to fix ###
# sanitized_players[sanatized_columns] = players[[sanatized_columns]].head(10).apply(clean_col_to_int, axis=1)

### Use traditional passing of columns ###
sanitized_players['G', 'GPG'] = players[['G', 'GPG']].head(10).apply(clean_col_to_int, axis=1)

sanitized_players.head(5)
# sanatized_players.values[3][7]

                     Key  Season             Player  ...   FO% sanitized_G (G, GPG)
0  2018Justin Abdelkader    2018  Justin Abdelkader  ...  48.5         NaN     None
1       2018Pontus Aberg    2018       Pontus Aberg  ...  33.3         NaN     None
2       2018Noel Acciari    2018       Noel Acciari  ...  45.2         NaN     None
3     2018Kenny Agostino    2018     Kenny Agostino  ...   0.0         NaN     None
4      2018Sebastian Aho    2018      Sebastian Aho  ...  45.3         NaN     None

[5 rows x 31 columns]

In [0]:
# players.dtypes
# players.replace("-", 0)

### Data Slices:

#### How many Teams are there?

In [0]:
print(players.groupby('Tm').count()['Player'])

print(players['Tm'].nunique())

Tm
 ANA      310
 ARI      103
 ATF      156
 ATL      288
 BOS     1945
 BRO       21
 BUF     1243
 CAR      500
 CBH      973
 CBJ      488
 CGS      145
 CGY     1011
 CHI      821
 CLE       46
 CLR      158
 COL      580
 DAL      622
 DET     1943
 EDM     1011
 FLA      634
 HAR      483
 KCS       49
 LAK     1244
 MDA      305
 MIN      464
 MNS      699
 MTL     1918
 NJD      960
 NSH      516
 NYA       39
 NYI     1227
 NYR     1880
 OAK       57
 OTT      674
 PHI     1293
 PHX      430
 PIT     1258
 QUE      460
 SJS      668
 STL     1259
 TBL      629
 TOR     1930
 TOT     3292
 VAN     1215
 VEG       26
 WIN      468
 WPG      196
 WSH     1188
Name: Player, dtype: int64
48

#### Who has the most Goals per Team?

In [0]:
team = "NYR"
# players[ players['Tm'] == team ].sort_values(by="GP", ascending=False).head(5)
# players[ players['Tm'] == team ].sort_values(by="G", ascending=False)
# players[ players['Tm'] == team ]
# players[['Tm', 'G']].sort_values(by='G').head()

players[['Player', 'Tm','Season', 'GP']].sort_values(by = 'GP', ascending=False).head(10)

                Player     Tm  Season  GP
21105     Jimmy Carson   TOT     1993  86
20403     Bob Kudelski   TOT     1994  86
20262        Mark Lamb   TOT     1994  85
14961      Bill Guerin   TOT     2001  85
12997       Rem Murray   TOT     2003  85
20296  Glenn Anderson*   TOT     1994  85
20088       Joe Reekie   TOT     1994  85
20027    Mark Janssens   HAR     1994  84
21096     Steve Larmer   CHI     1993  84
20049     Craig Ludwig   DAL     1994  84